<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天真高中留言板</title>
</head>
<body>
    <h1>天真高中留言板</h1>
    <div>
        <a href="/">首頁</a>
        <a href="{% url 'msg_create' %}">新增留言</a>
        {% if user.is_authenticated%}
            {{ user.username }} <a href="{% url 'logout' %}">登出</a>
        {% else %}
            <a href ="{% url ' login'%}">登入</a>
        {% endif %}
    </div>
    <div>
        {% block content %} {% endblock %} 
    </div>       
</body>
</html>